@import './colors', './typography';

$res-folder: '../icons';

$form-component-margin-bottom: 20px;
$form-input-min-width: 100px;
$form-select-arrow-width: 20px;

.configurableFormBuilder {
    font-family: $font-stack;
    font-size: $default-font-size;
}

.configurableFormBuilder form button.primary {
    background-color: $primary-button-color;
    color: $primary-button-text-color;
    padding: 5px 10px;
    font-size: $button-font-size;
    border-radius: 5px;
    outline: none;
}

.configurableFormBuilder label {
    display: block;
    margin-bottom: 10px;
}

.configurableFormBuilder input[type=text] {
    margin-bottom: $form-component-margin-bottom;
    width: 85%;
    min-width: $form-input-min-width;
    border-radius: 3px;
    padding: 5px 10px;
    outline: none;
}

.configurableFormBuilder select {
    -webkit-appearance: none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    margin-bottom: $form-component-margin-bottom;
    width: calc(85% + 20px);
    min-width: $form-input-min-width + $form-select-arrow-width;
    border-radius: 3px;
    padding: 6px 10px;
    background-color: white;
    background-image: url($res-folder + '/drop-down-arrow.svg');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: 10px;
    outline: none;
}